<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Detail</key>
		<string>Homemade bread with grass-feed beef patty</string>
		<key>Title</key>
		<string>Hamburger</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Very Crispy, very delicious</string>
		<key>Title</key>
		<string>French Fries</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Fresh from water</string>
		<key>Title</key>
		<string>Shirmp</string>
	</dict>
</array>
</plist>
