<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Detail</key>
		<string>Tasts good</string>
		<key>Title</key>
		<string>BlueBerry</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>I love it</string>
		<key>Title</key>
		<string>Mango</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Fresh from water</string>
		<key>Title</key>
		<string>Lobster</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>My Favorite</string>
		<key>Title</key>
		<string>Takoyaki</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Must have one after lunch</string>
		<key>Title</key>
		<string>Yogurt</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>I cannot resist</string>
		<key>Title</key>
		<string>Onion Rings</string>
	</dict>
</array>
</plist>
