<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Detail</key>
		<string>How can i forget you</string>
		<key>Title</key>
		<string>Cookie</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>crispy&apos;</string>
		<key>Title</key>
		<string>Chips</string>
	</dict>
	<dict>
		<key>Detail</key>
		<string>Fresh from water</string>
		<key>Title</key>
		<string>Fish and chis</string>
	</dict>
</array>
</plist>
